/.vscode

Makefile
Makefile.in
/config.h
/config.log
/config.status
.deps/
/libtool
/stamp-h1
*.o
*.lo
/autom4te.cache
lib*.a
.libs/
*.la
/stamp-h
src/tate
/config.h.in
/configure
/lib
/m4
/gnulib
/build-aux
*~
/INSTALL
/libchi/bitmasks.h

libchi/libchi.h
libchi/showfen
libchi/tests/check_libchi
libchi/genmasks
libchi/tests/check_libchi.log
libchi/tests/check_libchi.trs
libchi/tests/test-suite.log

