/.vscode
/configure-local

Makefile
Makefile.in
/config.h
/config.log
/config.status
.deps/
/libtool
/stamp-h1
/stamp-h.in
*.o
*.lo
/autom4te.cache
lib*.a
.libs/
*.la
/stamp-h
/config.h.in
/configure
/lib
/gnulib
/build-aux
/aclocal.m4
*~
/INSTALL
/libchi/bitmasks.h
.dirstamp

m4/
!m4/Makefile.am
!m4/Makefile.in
!m4/README
!m4/ax_pthread.m4

src/lisco
src/liscoold
src/liscoplay
src/tests/check_common
src/tests/check_lisco
src/tests/check_liscoplay

libchi/dump-bitboard
libchi/genmasks
libchi/libchi.h
libchi/showfen
libchi/tests/check_libchi
*.log
*.trs

.DS_STORE
