/.vscode
/configure-local

Makefile
Makefile.in
/config.h
/config.log
/config.status
.deps/
/libtool
/stamp-h1
/stamp-h.in
*.o
*.lo
/autom4te.cache
lib*.a
.libs/
*.la
/stamp-h
src/tate
src/tateplay
/config.h.in
/configure
/lib
/m4
/gnulib
/build-aux
/aclocal.m4
*~
/INSTALL
/libchi/bitmasks.h
.dirstamp

src/tate
src/tateuci
src/tateplay
src/tests/check_common
src/tests/check_tate
src/tests/check_tateplay

libchi/libchi.h
libchi/showfen
libchi/tests/check_libchi
libchi/genmasks
*.log
*.trs

.DS_STORE
